.showmore {
  display: flex;
  justify-content: center;
  cursor: pointer;
  background-color: rgb(44, 96, 231);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  width: 20%;
  margin: 40px auto;
  -webkit-transition: all 0.4s ease-in-out;
  &:hover {
    background-color: #4074fb;
  }
}
