.sharebutton {
  background-color: white;
  padding: 15px;
  box-shadow: 0px 8px 24px rgba(0, 0, 46, 0.12);
  border-radius: 10px;
  h1 {
    font-size: 22px;
    font-family: "Manrope medium";
    padding-bottom: 10px;
  }
  img {
    z-index: 2;
  }
  &-social {
    display: flex;
    gap: 10px;
  }
}
