@import "../../Components/UI\ kit/Colors.scss";
.conference {
  text-align: left;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px 40px 20px;
  min-height: 100vh;

  &__container {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    position: relative;

    @media screen and (max-width: 1100px) {
      gap: 32px;
    }
    @media (max-width: 809px) {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
  &__more {
    position: absolute;
    top: 0;
    width: 88%;
    left: 0;
    height: 100%;
    @media screen and (max-width: 1200px) {
      width: 85%;
    }
    @media screen and (max-width: 963px) {
      width: 80%;
    }
    @media screen and (max-width: 809px) {
      width: 88%;
    }
    @media screen and (max-width: 500px) {
      width: 85%;
    }
    @media screen and (max-width: 444px) {
      width: 80%;
    }
    @media screen and (max-width: 330px) {
      width: 75%;
    }
  }
  &__more2 {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 75%;
    width: 15%;
  }
  &__block {
    background-color: white;
    border-radius: 15px;
    cursor: pointer;
    position: relative;

    @media screen and (max-width: 1200px) {
      width: 100%;
    }

    &:hover {
      box-shadow: 0px 8px 24px rgba(0, 0, 46, 0.12);
    }
  }
  &__tags {
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;
    align-items: center;
  }
  &__tags-name {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;

    span {
      background-color: $Onyx200;
      font-size: 14px;
      color: #9999ab;
      padding: 4px 8px;
      text-align: center;
      border-radius: 6px;
      vertical-align: middle;
      @media screen and (max-width: 1200px) {
        font-size: 12px;
      }
      @media screen and (max-width: 963px) {
        font-size: 10px;
      }
      @media screen and (max-width: 400px) {
        font-size: 8px;
      }
    }
  }
  &__text {
    font-size: 16px;
    font-family: "Manrope";
    line-height: 21.6px;
    padding-top: 8px;
    height: 95px;
    color: #9999ab;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-flex: 1;
    -webkit-line-clamp: 4;
    @media screen and (max-width: 851px) {
      font-size: 16px;
    }

    @media (max-width: 544px) {
      margin: 10px 0;
    }
    @media (max-width: 466px) {
      font-size: 14px;
    }
    @media (max-width: 400px) {
      font-size: 12px;
      margin: 0 0 10px 0;
    }
  }
  &__date {
    font-size: 14px;
    color: #9999ab;
    margin-top: 16px;
    @media screen and (max-width: 963px) {
      font-size: 12px;
      margin-top: 14px;
    }
    @media screen and (max-width: 400px) {
      font-size: 10px;
      margin-top: 12px;
    }
    span {
      padding-left: 5px;
    }
  }
  &__title {
    font-size: 18px;
    font-family: "Manrope semibold";
    line-height: 21.6px;
    margin: 8px 0;
    height: 44px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-flex: 1;
    -webkit-line-clamp: 2;
    @media screen and (max-width: 851px) {
      font-size: 16px;
    }
    @media (max-width: 810px) {
      font-size: 18px;
      height: 46px;
    }
    @media (max-width: 544px) {
      font-size: 16px;
      margin: 10px 0;
    }
    @media (max-width: 466px) {
      font-size: 14px;
    }
    @media (max-width: 400px) {
      font-size: 12px;
      margin: 0;
    }
  }

  &__type {
    font-size: 32px;
    margin-bottom: 20px;
    font-family: "Manrope semibold";
    .back {
      display: flex;
      padding-top: 40px;
      align-items: center;
      position: relative;
      padding-left: 10px;
      -webkit-transition: all 0.4s ease-in-out;

      &:hover {
        color: #4074fb;
        padding-left: 0;
      }
      p {
        position: absolute;
        left: 40px;
      }
    }
    .similar {
      display: flex;
      align-items: center;
      &:hover {
        color: #4074fb;
      }
    }
    a {
      display: flex;
      align-items: center;
      &:hover {
        color: #4074fb;
      }
    }
    .forward {
      -webkit-transition: all 0.4s ease-in-out;
      &:hover {
        padding-right: 10px;
      }
    }
    @media screen and (max-width: 700px) {
      font-size: 25px;
    }
    @media screen and (max-width: 536px) {
      font-size: 18px;
    }
    span {
      font-size: 25px;
      vertical-align: middle;
      margin-top: 3px;

      @media screen and (max-width: 700px) {
        font-size: 15px;
      }
    }
    .backarrow {
      padding: 0 14px 0 0;
      font-size: 30px;

      @media screen and (max-width: 700px) {
        font-size: 25px;
      }
      @media screen and (max-width: 536px) {
        font-size: 16px;
      }
    }
  }

  &__wrapper {
    padding: 28px;
  }
}

.yellow-status {
  background-color: #f7e14b;
  color: black;
}
.green-status {
  background-color: #37d175;
  color: white;
}
.grey-status {
  background-color: #9d9d9d;
  color: white;
}
.orange-status {
  background-color: #9d9d9d;
  color: black;
}
.red-status {
  background-color: #e95f3f;
  color: white;
}

.prev {
  min-height: auto;
}

.conf-prev {
  text-align: left;
  max-width: 1315px;
  margin: 0 auto;
  padding: 0 20px 40px 20px;
}
