.search {
  width: 582px;
  background-color: #00003808;
  padding: 9px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  z-index: 2;

  .input {
    display: flex;

    input {
      width: 100%;
      &::placeholder {
        text-align: center;
        color: #00002e4d;
        font-size: 16px;
        font-weight: 500;

        @media (max-width: 607px) {
          font-size: 13px;
        }
        @media (max-width: 452px) {
          font-size: 10px;
        }
      }
    }
  }

  .dropdown-filter {
    position: relative;
    @media screen and (max-width: 700px) {
      position: static;
    }

    ul {
      position: absolute;
      top: 15px;
      width: 100%;
      max-height: 300px;
      overflow: auto;
      background-color: white;
      border-radius: 7px;
      box-shadow: 0px 8px 24px rgba(0, 0, 46, 0.12);
      color: #00003880;
      border-radius: 7px;
      cursor: pointer;
      @media (max-width: 700px) {
        left: 0;
        top: 100px;
        max-height: none;
      }

      a {
        color: #00003880;
        @media (max-width: 675px) {
          font-size: 13px;
        }
      }
      .conf {
        text-align: justify;
        font-family: "Manrope semibold";

        &:hover {
          background-color: #0000380d;
        }
        li {
          padding: 15px 15px 0 15px;
          color: #00003880;
          font-weight: 600;
        }
        div {
          padding: 0 15px 0 15px;
          font-weight: 200;
          min-height: 40px;
        }
        small {
          padding: 0;
          &:not(:last-of-type):after {
            content: "\2022";
            padding-left: 3.5px;
            font-size: 15px;
          }
        }
      }

      .sticky-button {
        height: 60px;
        position: sticky;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;

        @media (max-width: 675px) {
          font-size: 13px;
        }
        &::before {
          content: "";
          background: linear-gradient(
            180deg,
            #ffffff00,
            #ffffff7b 80%,
            rgba(255, 255, 255, 0.54) 70%,
            #ffffff66 50%,
            rgb(255, 255, 255)
          );
          top: -20px;
          height: 24px;
          left: 0;
          pointer-events: none;
          position: absolute;
          right: 0;
          transition: 0.1s;
          z-index: 1;
        }
        button {
          height: 40px;
          width: 544px;
          color: #2c60e7;
          background-color: #ebefff;
          border-radius: 8px;
          margin: 10px;
          -webkit-transition: all 0.2s ease-in-out;
          &:hover {
            background-color: #2c60e7;
            color: white;
          }
        }
      }
    }
  }
  .highlight {
    background-color: transparent;
    color: #00002e;
    font-family: "Manrope extrabold";
  }
  ::-webkit-scrollbar {
    width: 0;
  }
}
