.search {
  width: 582px;
  background-color: #00003808;
  padding: 9px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;

  .input {
    display: flex;
    img {
      margin-right: 10px;
    }
    input {
      width: 562px;
      &::placeholder {
        text-align: center;
        color: #00002e4d;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }

  .dropdown-filter {
    position: relative;

    ul {
      position: absolute;
      top: 15px;
      width: 582px;
      max-height: 300px;
      overflow: auto;
      background-color: white;
      border-radius: 7px;
      margin-left: -7px;
      box-shadow: 0px 8px 24px rgba(0, 0, 46, 0.12);
      color: #00003880;
      border-radius: 7px;
      cursor: pointer;
      a {
        color: #00003880;
      }
      .conf {
        text-align: justify;
        font-family: "Manrope semibold";
        &:hover {
          background-color: #0000380d;
        }
        li {
          padding: 15px 15px 0 15px;
          color: #00003880;
          font-weight: 600;
        }
        div {
          padding: 0 15px 15px 15px;
          font-weight: 200;
          min-height: 40px;
        }
      }

      .sticky-button {
        height: 60px;
        position: sticky;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        &::before {
          content: "";
          background: linear-gradient(
            180deg,
            #ffffff00,
            #ffffff7b 80%,
            rgba(255, 255, 255, 0.54) 70%,
            #ffffff66 50%,
            rgb(255, 255, 255)
          );
          top: -20px;
          height: 24px;
          left: 0;
          pointer-events: none;
          position: absolute;
          right: 0;
          transition: 0.1s;
          z-index: 1;
        }
        button {
          height: 40px;
          width: 544px;
          color: #2c60e7;
          background-color: #ebefff;
          border-radius: 8px;
          margin: 10px;
        }
      }
    }
  }
  .highlight {
    background-color: transparent;
    color: #00002e;
    font-family: "Manrope extrabold";
  }
  ::-webkit-scrollbar {
    width: 0;
  }
}
