.conference {
  text-align: left;
  width: 1170px;
  margin: 0 auto;
  padding-bottom: 40px;

  &__block {
    width: 550px;
    background-color: white;
    border-radius: 16px;
    &:hover {
      box-shadow: 0px 8px 24px rgba(0, 0, 46, 0.12);
    }
  }
  &__title {
    font-size: 18px;
    margin: 16px 0;
    height: 100px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-flex: 1;
    -webkit-line-clamp: 4;
  }
  &__tags {
    padding: 10px 16px 20px 16px;
    div {
      display: flex;
      flex-wrap: wrap;
      small {
        white-space: pre-wrap;

        color: #0000384d;
        &:not(:last-of-type):after {
          content: "\2022";
          padding: 0 8px;
          font-size: 18px;
        }
      }
    }
  }

  &__type {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;

    span {
      font-size: 23px;
      vertical-align: middle;
      margin-left: 10px;
    }
  }
  &__container {
    display: flex;
    row-gap: 36px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__bg {
    height: 214px;
    background-image: url(Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-top {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
    &-bottom {
      color: white;
      background-color: #001036bd;

      padding: 7px 14px;
      border-radius: 6px;
    }
    span {
      color: white;
      height: 34px;
      background-color: #37d175;
      padding: 7px 14px;
      border-radius: 6px;
    }
  }
  &__organizer {
    color: #00003880;
    margin: 5px 0;
    display: flex;

    p {
      color: #0000384d;
      width: 140px;
      margin-right: 10px;
    }
  }
  &__date {
    color: #00003880;
    margin: 5px 0;
    display: flex;
    p {
      color: #0000384d;
      width: 140px;
      margin-right: 10px;
    }
  }
}
