.datepicker {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  span {
    position: absolute;
    background-color: #d6e1ff;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    right: 0;
    top: 15px;
    cursor: pointer;

    img {
      max-width: 50%;
    }
  }
  .dM {
    max-width: 100%;

    .Tx {
      font-family: "Manrope";
    }
    ._3n {
      height: 64px;
      font-size: 18px;
    }
    .FC {
      ._1g {
        background-color: #2c60e7;
      }
    }
    .jb {
      font-weight: 800;
      color: rgba(0, 0, 56, 0.3);
    }

    .FC {
      background-color: #2c60e7;
    }
    .WP {
      &:after {
        content: "";
        background: none;
      }
    }
    .Kq {
      width: 210px;

      height: 32px;
      border-radius: 8px;
      margin-top: 50px;
      &:after {
        content: "";
        background: none;
      }
      svg {
        width: 50%;
        height: 50%;
      }
    }
  }
}

.calend {
  display: flex;
}
