.loader {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 36px;
  margin-bottom: 30px;
  div {
    background-color: white;
    border-radius: 13px;
    height: 355px;
  }
}
