$Sapphire800: #0438bf;
$Sapphire700: #184cd3;
$SapphireMain: #2c60e7;
$Sapphire600: #4673ea;
$Sapphire500: #80a0f1;
$Sapphire400: #abbff5;
$Sapphire300: #dde5fb;
$Sapphire200: #e5ecfc;
$Sapphire100: #eaf0fb;

$Onyx800: #00001a;
$Onyx700: #00002e;
$OnyxMain: #141442;
$Onyx600: #1f1f47;
$Onyx500: #9999ab;
$Onyx400: #d9d9e0;
$Onyx300: #e0e0e6;
$Onyx200: #ebebef;
$Onyx100: #f5f5f7;

$White100: #ffffff;
$Background: #f7f7f9;

$Ruby800: #a90000;
$Ruby700: #c70000;
$RubyMain: #db0c0c;
$Ruby600: #e02929;
$Ruby500: #e96d6d;
$Ruby400: #f19e9e;
$Ruby300: #fadddd;
$Ruby200: #fce9e9;
$Ruby100: #fef5f5;

$Emerald800: #009400;
$Emerald700: #06a803;
$EmeraldMain: #1abc17;
$Emerald600: #36c433;
$Emerald500: #76d774;
$Emerald400: #a3e4a2;
$Emerald300: #dff5de;
$Emerald200: #eaf9ea;
$Emerald100: #f6fdf6;

$Citrine800: #c8690d;
$Citrine700: #dc7d21;
$CitrineMain: #f09135;
$Citrine600: #f29f4e;
$Citrine500: #f6bd86;
$Citrine400: #f9d3ae;
$Citrine300: #fdefe2;
$Citrine200: #fef5ed;
$Citrine100: #fef9f5;
