.react-calendar {
  border: none;
  box-shadow: 0px 8px 24px rgba(0, 0, 46, 0.12);
  border-radius: 10px;
  padding: 24px;
  font-family: "Manrope medium";
}
@media (max-width: 725px) {
  .react-calendar {
    width: 100vw;
  }
}
.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  display: none;
}
.react-calendar__navigation__label {
  background-color: #ebefff !important;
  min-width: 76px;
  color: #2c60e7;
  padding: 10px;
  border-radius: 7px;
}
.react-calendar__navigation__label:hover {
  background-color: #4074fb !important;
  color: white;
}

abbr[title] {
  text-decoration: none;
}
.react-calendar__navigation__arrow {
  width: 35px;
  border-radius: 5px;
  margin: 5px !important;
}
.react-calendar__navigation__arrow:hover {
  background-color: #0000380d !important;
}
.react-calendar__navigation {
  gap: 15px;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 15px;
}
.react-calendar__tile--active {
  background-color: #0000380d;
  color: black;
  border-radius: 6px;
}
.react-calendar button {
  border-radius: 6px;
}

.calender-filter {
  position: absolute;
  top: 25vh;
  left: 15vw;
}
@media (max-width: 725px) {
  .calender-filter {
    top: 19vh;
    left: 0;
    right: 0;
  }
}
.react-calendar__tile:hover {
  background-color: #0000380d !important;
  color: black;
}

.react-calendar__tile--hasActive {
  background-color: #0000381a;
}
.react-calendar__month-view__weekdays {
  color: #00003866;
}
.react-calendar__tile--rangeEnd {
  background-color: #000038cc !important;
  color: white;
}
.react-calendar__tile--rangeEnd:hover,
.react-calendar__tile--rangeStart:hover {
  background-color: #000038cc !important ;
  color: white !important;
}
.react-calendar__tile--rangeStart {
  background-color: #000038cc !important;
  color: white;
}
.react-calendar__tile--now {
  background-color: #2c60e7;
  color: white;
}
.react-calendar__tile {
  margin-bottom: 5px !important;
}
.find {
  position: absolute;
  bottom: 0;
  padding: 10px;
  right: 35%;
  margin: 15px 0;
  background-color: #ebefff;
  border-radius: 6px;
  width: 100px;
  color: #2c60e7;
}

@media (max-width: 725px) {
  .find {
    right: 42%;
  }
}
.react-calendar__month-view__days {
  padding-bottom: 45px;
  position: relative;
}
.close-calendar {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 15px;
}
@media (max-width: 725px) {
  .close-calendar {
    top: 15px;
    right: 15px;
  }
}
.close-calendar img {
  width: 20px;
}
