.empty {
  text-align: center;
  height: 100vh;
  h3,
  p {
    max-width: 450px;
    margin: 0 auto;
  }
  h3 {
    font-size: 40px;
    font-family: "Manrope bold";
  }
  p {
    color: #00003866;
  }
}
