.notfound {
  height: 100vh;
  padding: 0 20px;
  &-container {
    max-width: 1200px;
    margin: 70px auto;
    display: flex;
    justify-content: center;
    gap: 30px;
    @media (max-width: 1000px) {
      flex-wrap: wrap;
    }
  }
  &-text {
    align-self: center;
    margin: 0 auto;
    text-align: center;
    order: -1;

    h1 {
      color: #2c60e7;
      font-size: 56px;
      font-family: "Body L Medium";
      padding-bottom: 16px;
      white-space: nowrap;
      @media (max-width: 710px) {
        font-size: 32px;
        padding-bottom: 8px;
      }
      @media (max-width: 443px) {
        font-size: 26px;
        padding-bottom: 4px;
      }
    }
    p {
      color: #00003880;
      font-size: 18px;
      padding-bottom: 56px;
      @media (max-width: 710px) {
        font-size: 16px;
        padding-bottom: 40px;
      }
      @media (max-width: 443px) {
        font-size: 12px;
        padding-bottom: 24px;
      }
    }
    &-pic {
      padding: 0 20px;
    }
  }
}
