.header {
  display: flex;
  height: 88px;
  justify-content: space-between;
  align-items: center;
  gap: 39px;
  max-width: 1170px;
  margin: 0 auto;
  padding: 75px 0 75px 0;
  @media (max-width: 860px) {
    gap: 20px;
    padding: 65px 0 65px 0;
  }
  @media screen and (max-width: 700px) {
    position: relative;
  }
  @media (max-width: 460px) {
    padding: 45px 0 15px 0;
  }
  // @media (max-width: 860px) {
  //   gap: 20px;
  // }
  &__logo {
    text-align: left;
    cursor: pointer;
    display: flex;
    align-items: center;
    @media screen and (max-width: 860px) {
      display: block;
      width: auto;
    }
    img {
      max-width: 100%;
      height: 40px;
    }
    span {
      font-size: 26px;
      font-family: "Manrope semibold";
      letter-spacing: 4.7px;
      margin-left: 13px;
      white-space: nowrap;
      @media screen and (max-width: 967px) {
        display: none;
      }
    }
  }

  &__nav {
    a {
      -webkit-transition: all 0.2s ease-in-out;
      &:hover {
        color: #4074fb;
      }
    }
    @media screen and (max-width: 1300px) {
      display: none;
    }
    ul {
      display: flex;
      gap: 32px;
      font-weight: 500;
      white-space: nowrap;
      button {
        &:hover {
          color: #2c60e7;
        }
      }
    }
  }
  &__signin {
    width: 96px;
    height: 40px;
    background-color: #2c60e7;
    border-radius: 7px;
    color: white;
    font-size: 16px;

    &:hover {
      background-color: #4074fb;
      color: white;
    }
  }
  &__profile {
    display: flex;
    justify-content: center;
    gap: 32px;
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #ebefff;
      width: 40px;
      height: 40px;
      border-radius: 7px;
      &:hover {
        background-color: #2c60e7;
        stroke-width: 1.6px;
        stroke: white;
        fill: none;
      }
    }

    button {
      width: 134px;
      height: 40px;
      background-color: #2c60e7;
      border-radius: 7px;
      color: white;
      font-size: 16px;
    }
  }
}
