.greeting {
  display: flex;
  max-width: 1270px;
  margin: 40px auto;
  justify-content: space-between;
  // padding: 30px 20px 30px 20px;
  align-items: center;
  gap: 20px;
  background-color: white;
  border-radius: 15px;
  @media screen and (max-width: 1256px) {
    margin: 20px 20px;
  }
  @media screen and (max-width: 819px) {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 20px 10px 20px;
    gap: 0;
  }
  &__pic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    img {
      border-radius: 15px;
      width: fit-content;

      @media screen and (max-width: 808px) {
        padding-bottom: 5px;
      }
    }
  }

  &__text-auth {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    h1 {
      color: #2c60e7;
      font-size: 56px;
      font-family: "Manrope bold";
      line-height: 56px;
    }
    p {
      color: #0000384d;
      font-size: 16px;
      font-weight: 500;
      line-height: 20.8px;
      padding: 10px;
      max-width: 440px;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: left;
    padding: 40px;
    -webkit-transition: all 0.4s ease-in-out;

    @media screen and (max-width: 720px) {
      align-self: center;
      padding: 20px;
      text-align: center;
    }
    @media screen and (max-width: 1187px) {
      margin: 0 auto;
    }
    p {
      color: #0000384d;
      font-size: 16px;
      font-weight: 500;
      line-height: 20.8px;
      padding: 10px;

      @media screen and (max-width: 1024px) {
        font-size: 14px;
        line-height: 15.8px;
      }
      @media screen and (max-width: 963px) {
        font-size: 12px;
        line-height: 10.8px;
      }
      @media screen and (max-width: 780px) {
        font-size: 10px;
        line-height: 10px;
      }
    }
  }
  &__text-second {
    color: #2c60e7;
    font-size: 50px;
    font-family: "Manrope extrabold";
    line-height: 48px;
    white-space: nowrap;
    padding-bottom: 48px;
    @media screen and (max-width: 1187px) {
      font-size: 48px;
      line-height: 48px;
      padding-bottom: 48px;
    }
    @media screen and (max-width: 963px) {
      font-size: 40px;
      line-height: 45px;
      padding-bottom: 40px;
    }
    @media screen and (max-width: 780px) {
      font-size: 35px;
      line-height: 35px;
      padding-bottom: 20px;
    }
    @media screen and (max-width: 559px) {
      font-size: 25px;
      line-height: 25px;
    }
  }
  &__text-first {
    font-size: 50px;
    font-family: "Manrope extrabold";
    line-height: 48px;
    white-space: nowrap;
    @media screen and (max-width: 1187px) {
      font-size: 48px;
      line-height: 48px;
    }
    @media screen and (max-width: 963px) {
      font-size: 40px;
      line-height: 45px;
    }
    @media screen and (max-width: 780px) {
      font-size: 35px;
      line-height: 35px;
    }
    @media screen and (max-width: 559px) {
      font-size: 25px;
      line-height: 25px;
    }
  }
  &__button {
    background-color: #2c60e7;
    max-width: 421px;
    padding: 0px 12px;
    height: 48px;

    font-size: 16px;
    border-radius: 7px;

    font-weight: 600;
    a {
      color: white;
    }
    @media (max-width: 819px) {
      display: none;
    }
  }
  &__hidden {
    display: none;

    @media (max-width: 819px) {
      margin: 20px auto;
      background-color: #2c60e7;
      max-width: 421px;
      padding: 0px 12px;
      height: 48px;
      color: white;
      font-size: 16px;
      border-radius: 7px;
      font-weight: 600;
      width: 100%;
      display: block;
      a {
        color: white;
      }
    }
  }
  &__pic-auth {
    padding: 20px 40px 20px 0;
    @media (max-width: 819px) {
      padding: 0;
      margin-bottom: 20px;
    }
  }
}
