.sidebar {
  height: 85vh;
  margin: 100px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  top: 80px;

  &-menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0 20px;

    &-link {
      padding-left: 16px;
      font-size: 16px;
    }
    &-item {
      height: 48px;

      display: flex;
      align-items: center;
      padding: 0 30px 0 20px;
    }
  }

  @media screen and (max-width: 861px) {
    display: none;
  }
  .active {
    background-color: #eaf0fb;
    color: #2c60e7;
    border-radius: 10px;
    a {
      color: #2c60e7;
    }
  }
  &-footer {
    padding-left: 20px;
    &-text {
      padding-left: 10px;
    }
    &-hr {
      background-color: #d9d9e0;
      height: 1px;
      margin: 20px 0;
      width: 193px;
    }
    &-link {
      color: #9999ab !important;
    }
    &-item {
      margin-bottom: 20px;
    }
    &-button {
      background-color: #2c60e7;
      padding: 0px 12px 0px 12px;
      max-width: 193px;
      height: 48px;
      display: flex;
      align-items: center;
      border-radius: 7px;
      color: white;
      fill: white;
    }
  }
}
