.footer {
  height: 72px;
  display: flex;
  background-color: #0000380d;
  justify-content: center;
  align-items: center;
  gap: 67px;
  color: black;
  margin-top: auto;
  width: 100%;
  border-radius: 13px;
}
